* { 
   margin: 0;
   padding: 0;
   font-family: 'Questrial', sans-serif;
}

/* Estilo de pantallas mas grandes*/

@media (min-width: 1200px) {
    body {
        font-size: 16px;
        background-color: rgb(175, 141, 157);
    }
}


/*Navegador*/

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(240, 223, 236);
    border-radius: 10px 0px 20px 20px;
}

.logo {
    width: 200px;
    height: 100px;
    margin: 10px 0px 10px 30px;
}

.menu {
    display: flex;
    margin-right: 20px;
    margin-top: 50px;
}

.menu li {
    margin-right: 15px;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(145, 82, 218);
}
.menu li a:hover {
color: rgb(150, 47, 141);
}

/*Imagenes*/

.contiene {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;

}

.pages {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: center;
}

.page {
    text-align: center;
    margin-left: 20px;
    width: 300px;
    height: 300px;
    background-color: rgb(241, 228, 239);
    border-radius: 20px;
    box-shadow: 6px 11px 5px -3px floralwhite;
}

.art {
    width: 110px;
}

/*Logo final*/

.pop {
    display: flex;
    margin-top: 60px;
    height: 110px;
    background-color: rgb(240, 223, 236);
    border-radius: 10px 0px 20px 20px;
}

.pop p {
    margin-top: 2.5%;
    width: 60%;
    text-align: center;
}

footer h3 {
margin: 10px 0px 12px 0px;
text-align: center;
font-weight: 400;
}

footer a {
    text-decoration: none;
    color: pink;
}











/*
.navart {
    background-color: rgb(187, 147, 91);
    font-family: 'Dancing Script', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Questrial', sans-serif;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    
    }
    a{
        text-decoration: double;
        color: #cca8a8;
    }
    
    ul{
       list-style: none;
    }
    
    .lyrics{
        font-family: 'Dancing Script', cursive;
        font-family: 'Indie Flower', cursive;
        font-family: 'Questrial', sans-serif;
        margin: 50px;
        font-size: 20px;
     }
    @media (min-width: 1200px) {
     body {
        background-color: rgb(226, 207, 182);
        font-size: 15px;
    }
}
     .page {
        width: 300px;
        height: 250px;
        border-style: outset;
    }

    .alt{

        display: flex;
  padding: 0%;
       }
    
    .imagine {
        
        display: flex;
        justify-content: center;
   }
    
   .up {
        
    margin-top: 15px;
    padding-top: 15px;
    height: 100%;
    width: 100%;
    font-size: 20px;
       
}

