* { 
   margin: 0;
   padding: 0;
   font-family: 'Questrial', sans-serif;
}

/* Estilo de pantallas mas grandes*/

@media (min-width: 1200px) {
    body {
        font-size: 16px;
        background-color: rgb(175, 141, 157);
    }
}


/*Navegador*/

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(240, 223, 236);
    border-radius: 10px 0px 20px 20px;
}

.logo {
    width: 200px;
    height: 100px;
    margin: 10px 0px 10px 30px;
}

.menu {
    display: flex;
    margin-right: 20px;
    margin-top: 50px;
}

.menu li {
    margin-right: 15px;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(145, 82, 218);
}
.menu li a:hover {
color: rgb(150, 47, 141);
}

/*Imagenes*/

.contiene {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    margin: auto;
}

.contiene .page {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.contiene .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.contiene .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contiene .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.contiene .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(54, 3, 45);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.contiene .back h3 {
    font-size: 30px;
    text-align: center;
    margin-left: 20px;
    width: 300px;
    height: 300px;
}

.contiene .back p {
    letter-spacing: 1.2px;
    text-align: center;
    align-items: center;
    margin-top: 45%;
} 

.contiene:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.contiene:hover .back {
    transform: perspective(600px) rotateY(360deg);
}


/*Logo final*/

.pop {
    display: flex;
    margin-top: 60px;
    height: 110px;
    background-color: rgb(240, 223, 236);
    border-radius: 10px 0px 20px 20px;
}

.pop p {
    margin-top: 2.5%;
    width: 60%;
    text-align: center;
}

footer h3 {
margin: 10px 0px 12px 0px;
text-align: center;
font-weight: 400;
}

footer a {
    text-decoration: none;
    color: pink;
}

